<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISredniaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52320/SredniaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISredniaService"
                contract="SredniaServiceReference.ISredniaService" name="BasicHttpBinding_ISredniaService" />
        </client>
    </system.serviceModel>
</configuration>